@font-face {
  font-family: 'CompanySans';
  src: url('assets/fonts/314511c5-18e3-4a60-8b2e-3e3788b8b785.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  color-scheme: light dark;
  font-family: 'CompanySans', 'Segoe UI', Roboto, sans-serif;
}

body {
  margin: 0;
  background: radial-gradient(circle at top, #BEC6A8, #34362d 70%);
  color: #f2f8ff;
  min-height: 100vh;
}
